@import url('./__container/profile__container.css');
@import url('./__pic/profile__pic.css');
@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__position/profile__position.css');

.profile {
    margin: auto;
    max-width: 882px;
    padding-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding-top: 38px;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media screen and (max-width: 768px) {
    .profile {
      padding-top: 28px;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 425px) {
    .profile {
      padding-top: 28px;
      justify-content: center;
    }
  }