.profile__position {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    flex-basis: 100%;  
  }

  @media screen and (max-width: 768px) {
    .profile__position {
      text-align: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 425px) {
  .profile__position {
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}