.button_close {
  margin-top: -50px;
  margin-left: 205px;
  border: none;
  width: 58px;
  height: 58px;
  position: fixed;
  left: 50%;
  background-image: url('../../../images/close-icon.svg');
  background-color: unset;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .button_close {
    margin-top: -40px;
    margin-left: 190px;
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 425px) {
  .button_close {
    margin-top: 130px;
    margin-left: 272px;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
  }
}