@import url('./__copyright/footer__copyright.css');

.footer {
    margin: auto;
    max-width: 882px;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .footer{
        margin-left: 45px;
    }
}

@media screen and (max-width: 425px) {
    .footer{
        margin-left: 19px;
    }
}