.button_edit {
    margin-top: 5px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-image: url('../../../images/edit-button.svg');
    background-color: #000;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 425px) {
    .button_edit {
        margin-top: 3px;
        margin-right: 0;
        width: 18px;
        height: 18px;
        background-size: 7px;
    }
}